################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Light_Control_Test/.vs/Light_Control_Test/v15
